In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("WA with Elil Greens.txt",header=None,error_bad_lines=False,encoding="utf8")

C:\Anaconda\envs\ai\lib\site-packages\IPython\core\interactiveshell.py:3553: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df

,0,1,2,3
0,1/6/23,9:39â€¯AM - Messages and calls are end-to-end e...,not even WhatsApp,can read or listen to them. Tap to learn more.
1,1/6/23,9:39â€¯AM - Elil Greens: Hi,NaN,NaN
2,1/6/23,9:39â€¯AM - Elil Greens: I am Ezhilarasan from ...,NaN,NaN
3,1/6/23,9:39â€¯AM - Elil Greens: When will u free pls c...,NaN,NaN
4,1/6/23,10:05â€¯AM - ðŸŒš: Pls give the python content,NaN,NaN
...,...,...,...,...
111,3/3/23,7:11â€¯PM - ðŸŒš: Sir link,NaN,NaN
112,3/3/23,7:20â€¯PM - ðŸŒš: Sir,need link,NaN
113,3/3/23,7:49â€¯PM - ðŸŒš: Sir,noted,NaN
114,3/5/23,9:26â€¯PM - Elil Greens: Hai all,Tommorrow and Tuesday we don't have class due...,NaN
115,3/5/23,9:48â€¯PM - ðŸŒš: Ok sir,NaN,NaN

In [4]:
df=df.drop(0)#row deleted

In [5]:
df

,0,1,2,3
1,1/6/23,9:39â€¯AM - Elil Greens: Hi,NaN,NaN
2,1/6/23,9:39â€¯AM - Elil Greens: I am Ezhilarasan from ...,NaN,NaN
3,1/6/23,9:39â€¯AM - Elil Greens: When will u free pls c...,NaN,NaN
4,1/6/23,10:05â€¯AM - ðŸŒš: Pls give the python content,NaN,NaN
5,1/6/23,10:08â€¯AM - Elil Greens: ok,NaN,NaN
...,...,...,...,...
111,3/3/23,7:11â€¯PM - ðŸŒš: Sir link,NaN,NaN
112,3/3/23,7:20â€¯PM - ðŸŒš: Sir,need link,NaN
113,3/3/23,7:49â€¯PM - ðŸŒš: Sir,noted,NaN
114,3/5/23,9:26â€¯PM - Elil Greens: Hai all,Tommorrow and Tuesday we don't have class due...,NaN
115,3/5/23,9:48â€¯PM - ðŸŒš: Ok sir,NaN,NaN

In [6]:
df=df.drop(2,axis=1)

In [7]:
df

          0                                                  1    3
1    1/6/23                          9:39â€¯AM - Elil Greens: Hi  NaN
2    1/6/23   9:39â€¯AM - Elil Greens: I am Ezhilarasan from ...  NaN
3    1/6/23   9:39â€¯AM - Elil Greens: When will u free pls c...  NaN
4    1/6/23          10:05â€¯AM - ðŸŒš: Pls give the python content  NaN
5    1/6/23                         10:08â€¯AM - Elil Greens: ok  NaN
..      ...                                                ...  ...
111  3/3/23                              7:11â€¯PM - ðŸŒš: Sir link  NaN
112  3/3/23                                  7:20â€¯PM - ðŸŒš: Sir   NaN
113  3/3/23                                  7:49â€¯PM - ðŸŒš: Sir   NaN
114  3/5/23                     9:26â€¯PM - Elil Greens: Hai all  NaN
115  3/5/23                                9:48â€¯PM - ðŸŒš: Ok sir  NaN

[115 rows x 3 columns]

In [8]:
df=df.drop(3,axis=1)

In [9]:
df

          0                                                  1
1    1/6/23                          9:39â€¯AM - Elil Greens: Hi
2    1/6/23   9:39â€¯AM - Elil Greens: I am Ezhilarasan from ...
3    1/6/23   9:39â€¯AM - Elil Greens: When will u free pls c...
4    1/6/23          10:05â€¯AM - ðŸŒš: Pls give the python content
5    1/6/23                         10:08â€¯AM - Elil Greens: ok
..      ...                                                ...
111  3/3/23                              7:11â€¯PM - ðŸŒš: Sir link
112  3/3/23                                  7:20â€¯PM - ðŸŒš: Sir
113  3/3/23                                  7:49â€¯PM - ðŸŒš: Sir
114  3/5/23                     9:26â€¯PM - Elil Greens: Hai all
115  3/5/23                                9:48â€¯PM - ðŸŒš: Ok sir

[115 rows x 2 columns]

In [10]:
df.columns=["Date","Chat"]

In [11]:
df

       Date                                               Chat
1    1/6/23                          9:39â€¯AM - Elil Greens: Hi
2    1/6/23   9:39â€¯AM - Elil Greens: I am Ezhilarasan from ...
3    1/6/23   9:39â€¯AM - Elil Greens: When will u free pls c...
4    1/6/23          10:05â€¯AM - ðŸŒš: Pls give the python content
5    1/6/23                         10:08â€¯AM - Elil Greens: ok
..      ...                                                ...
111  3/3/23                              7:11â€¯PM - ðŸŒš: Sir link
112  3/3/23                                  7:20â€¯PM - ðŸŒš: Sir
113  3/3/23                                  7:49â€¯PM - ðŸŒš: Sir
114  3/5/23                     9:26â€¯PM - Elil Greens: Hai all
115  3/5/23                                9:48â€¯PM - ðŸŒš: Ok sir

[115 rows x 2 columns]

In [12]:
message=df["Chat"].str.split("-",n=1,expand=True)

In [13]:
message

              0                                                  1
1      9:39â€¯AM                                     Elil Greens: Hi
2      9:39â€¯AM    Elil Greens: I am Ezhilarasan from Greens tec...
3      9:39â€¯AM           Elil Greens: When will u free pls call me
4     10:05â€¯AM                      ðŸŒš: Pls give the python content
5     10:08â€¯AM                                     Elil Greens: ok
..          ...                                                ...
111    7:11â€¯PM                                         ðŸŒš: Sir link
112    7:20â€¯PM                                             ðŸŒš: Sir
113    7:49â€¯PM                                             ðŸŒš: Sir
114    9:26â€¯PM                                Elil Greens: Hai all
115    9:48â€¯PM                                           ðŸŒš: Ok sir

[115 rows x 2 columns]

In [14]:
df["Time"]=message[0]

In [15]:
df

       Date                                               Chat        Time
1    1/6/23                          9:39â€¯AM - Elil Greens: Hi    9:39â€¯AM
2    1/6/23   9:39â€¯AM - Elil Greens: I am Ezhilarasan from ...    9:39â€¯AM
3    1/6/23   9:39â€¯AM - Elil Greens: When will u free pls c...    9:39â€¯AM
4    1/6/23          10:05â€¯AM - ðŸŒš: Pls give the python content   10:05â€¯AM
5    1/6/23                         10:08â€¯AM - Elil Greens: ok   10:08â€¯AM
..      ...                                                ...         ...
111  3/3/23                              7:11â€¯PM - ðŸŒš: Sir link    7:11â€¯PM
112  3/3/23                                  7:20â€¯PM - ðŸŒš: Sir     7:20â€¯PM
113  3/3/23                                  7:49â€¯PM - ðŸŒš: Sir     7:49â€¯PM
114  3/5/23                     9:26â€¯PM - Elil Greens: Hai all    9:26â€¯PM
115  3/5/23                                9:48â€¯PM - ðŸŒš: Ok sir    9:48â€¯PM

[115 rows x 3 columns]

In [16]:
message1=message[1].str.split(":",n=1,expand=True)

In [17]:
message1

                0                                         1
1     Elil Greens                                        Hi
2     Elil Greens   I am Ezhilarasan from Greens technology
3     Elil Greens              When will u free pls call me
4               ðŸŒš               Pls give the python content
5     Elil Greens                                        ok
..            ...                                       ...
111             ðŸŒš                                  Sir link
112             ðŸŒš                                      Sir
113             ðŸŒš                                      Sir
114   Elil Greens                                   Hai all
115             ðŸŒš                                    Ok sir

[115 rows x 2 columns]

In [18]:
df["Name"]=message1[0]

In [19]:
df

,Date,Chat,Time,Name
1,1/6/23,9:39â€¯AM - Elil Greens: Hi,9:39â€¯AM,Elil Greens
2,1/6/23,9:39â€¯AM - Elil Greens: I am Ezhilarasan from ...,9:39â€¯AM,Elil Greens
3,1/6/23,9:39â€¯AM - Elil Greens: When will u free pls c...,9:39â€¯AM,Elil Greens
4,1/6/23,10:05â€¯AM - ðŸŒš: Pls give the python content,10:05â€¯AM,ðŸŒš
5,1/6/23,10:08â€¯AM - Elil Greens: ok,10:08â€¯AM,Elil Greens
...,...,...,...,...
111,3/3/23,7:11â€¯PM - ðŸŒš: Sir link,7:11â€¯PM,ðŸŒš
112,3/3/23,7:20â€¯PM - ðŸŒš: Sir,7:20â€¯PM,ðŸŒš
113,3/3/23,7:49â€¯PM - ðŸŒš: Sir,7:49â€¯PM,ðŸŒš
114,3/5/23,9:26â€¯PM - Elil Greens: Hai all,9:26â€¯PM,Elil Greens
115,3/5/23,9:48â€¯PM - ðŸŒš: Ok sir,9:48â€¯PM,ðŸŒš

In [20]:
df["Chat"]=message1[1]

In [21]:
df

,Date,Chat,Time,Name
1,1/6/23,Hi,9:39â€¯AM,Elil Greens
2,1/6/23,I am Ezhilarasan from Greens technology,9:39â€¯AM,Elil Greens
3,1/6/23,When will u free pls call me,9:39â€¯AM,Elil Greens
4,1/6/23,Pls give the python content,10:05â€¯AM,ðŸŒš
5,1/6/23,ok,10:08â€¯AM,Elil Greens
...,...,...,...,...
111,3/3/23,Sir link,7:11â€¯PM,ðŸŒš
112,3/3/23,Sir,7:20â€¯PM,ðŸŒš
113,3/3/23,Sir,7:49â€¯PM,ðŸŒš
114,3/5/23,Hai all,9:26â€¯PM,Elil Greens
115,3/5/23,Ok sir,9:48â€¯PM,ðŸŒš

In [22]:
df=df[["Date","Time","Name","Chat"]]

In [23]:
df

,Date,Time,Name,Chat
1,1/6/23,9:39â€¯AM,Elil Greens,Hi
2,1/6/23,9:39â€¯AM,Elil Greens,I am Ezhilarasan from Greens technology
3,1/6/23,9:39â€¯AM,Elil Greens,When will u free pls call me
4,1/6/23,10:05â€¯AM,ðŸŒš,Pls give the python content
5,1/6/23,10:08â€¯AM,Elil Greens,ok
...,...,...,...,...
111,3/3/23,7:11â€¯PM,ðŸŒš,Sir link
112,3/3/23,7:20â€¯PM,ðŸŒš,Sir
113,3/3/23,7:49â€¯PM,ðŸŒš,Sir
114,3/5/23,9:26â€¯PM,Elil Greens,Hai all
115,3/5/23,9:48â€¯PM,ðŸŒš,Ok sir

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115 entries, 1 to 115
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    115 non-null    object
 1   Time    71 non-null     object
 2   Name    66 non-null     object
 3   Chat    66 non-null     object
dtypes: object(4)
memory usage: 4.5+ KB